/* CSS declarations go here */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#tiles {
	height: 100%;
	width: 100%;
}

.tile {
	display: inline-block;
	height: 100px;
	padding: 1px;
	width: 100px;
}